:root {
  --font-inter: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial,
    "Apple Color Emoji", "Segoe UI Emoji";
  --font-sometype-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

body {
  font-family: var(--font-sometype-mono);
  background-color: #666666;
}
p, h1 {
  margin: 0;
  line-height: 110%;
  color:#11FF00;
}
